[user]
	name = Romain Vimont
	email = rom@rom1v.com
[color]
	ui = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[alias]
	lg = log --oneline --graph --decorate
	diffc = diff --cached
	diffh = diff HEAD
	rma = !git ls-files -z --deleted | xargs -0 git rm
	rv = log -p --reverse -M #review
	rinit =!git init && git commit --allow-empty -m 'Initial empty commit'
