[user]
	name = Romain Vimont
	email = rvimont@genymobile.com
[color]
	ui = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[rebase]
    autosquash = true
[alias]
	lg = log --oneline --graph --decorate
	diffc = diff --cached
	diffh = diff HEAD
	rma = !git ls-files -z --deleted | xargs -0 git rm
	rv = log -p --stat --reverse -M #review
	rinit =!git init && git commit --allow-empty -m 'Initial empty commit'
	git = !git
[include]
	path = .gitconfig_private
